body {
  background-color: #0d662c;
  color: #fff;
  
  .content {
    max-width: 500px;
    margin: auto;
  }
  
  h1 {
    color: #fff;
  }
  
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #202324;
  
    button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      color: #fff;
  
      &:hover {
        background-color: #ddd;
      }
  
      &.active {
        background-color: #ccc;
      }
    }
  }
  
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #000;
    border-top: none;
  }
}
